################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

SisnetData/bin/
SisnetData/obj/
SisnetValidacionArchivos/bin/
SisnetValidacionArchivos/obj/
SisnetExportador/bin/
SisnetExportador/obj/
VaccumPersonalizado/bin/
VaccumPersonalizado/obj/
packages/
.vs/SisnetValidacionArchivos/SisnetValidacionArchivos/FileContentIndex/
.vs/SisnetValidacionArchivos/v17/.suo
