<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--Configuraciones de BD-->
		<add key="server" value="localhost" />
		<add key="database" value="jamundiweb" />
		<add key="user" value="postgres" />
		<add key="password" value="postgres" />
		<add key="tableToValidate" value="validacionarchivos" />

		<!--Configuraciones comportamiento-->
		<add key="2pdfexe" value="C:\Program Files (x86)\2Pdf\2PDF.exe" />
		<add key="2pdfexeclauncher" value="PruebaDoc3Pdf.exe" />
		<add key="pdfcompresorexe" value="H:\pdfcompressor\pdfcompressor.exe" />
		<add key="logoWaterMark" value="caja.png" />
		<add key="secondsToPressContinue2PDF" value="0" />
		<add key="secondsToReadDatabase" value="2" />
		<!--al activar el log queda un archivo log.txt-->
		<add key="log" value="true" />
		<!--Lineas de comando compressor -->
		<add key="cmdCompresorPDF" value="&quot;-$&quot; &quot;85XSD3234455P5CWET57&quot; -preset prepress &quot;{0}&quot; &quot;{1}&quot;" />
		<!--Lineas de comando 2PDF -->
		<!--
    <add key="cmdConvertPDF" value="-src &quot;{0}&quot; -dst &quot;{1}&quot;" />    
    -->
		<add key="cmdConvertPDF" value="-src &quot;{0}&quot; -dst &quot;{1}&quot; -options silent:&quot;yes&quot; alerts:&quot;no&quot;" />

		<add key="cmdWaterMark" value="-src &quot;{0}&quot; -dst &quot;{1}&quot; -oper watermark pages:&quot;1&quot; image:&quot;{2}&quot; halign:right valign:top offx:-8 offy:6 size:&quot;as is&quot; -options silent:&quot;yes&quot; alerts:&quot;no&quot;" />
		<add key="cmdTextWaterMark1" value="-src &quot;{0}&quot; -dst &quot;{1}&quot; -oper textwatermark pages:&quot;1&quot; text:&quot;{2}&quot; font:&quot;Arial&quot; fontsize:2 bold:yes halign:right valign:top offx:-10 offy:7 -options silent:&quot;yes&quot; alerts:&quot;no&quot;" />
		<add key="cmdTextWaterMark2" value="-src &quot;{0}&quot; -dst &quot;{1}&quot; -oper textwatermark pages:&quot;1&quot; text:&quot;{2}&quot; font:&quot;Arial&quot; fontsize:2 bold:yes halign:right valign:top offx:-10 offy:9 -options silent:&quot;yes&quot; alerts:&quot;no&quot;" />
		<add key="cmdTextWaterMark3" value="-src &quot;{0}&quot; -dst &quot;{1}&quot; -oper textwatermark pages:&quot;1&quot; text:&quot;{2}&quot; font:&quot;Arial&quot; fontsize:2 bold:yes halign:right valign:top offx:-10 offy:11 -options silent:&quot;yes&quot; alerts:&quot;no&quot;" />
		<add key="cmdTextWaterMark4" value="-src &quot;{0}&quot; -dst &quot;{1}&quot; -oper textwatermark pages:&quot;1&quot; text:&quot;{2}&quot; font:&quot;Arial&quot; fontsize:2 bold:yes halign:right valign:top offx:-10 offy:13 -options silent:&quot;yes&quot; alerts:&quot;no&quot;" />
		<add key="extensiones" value="jpg,png,pdf" />
	</appSettings>
	
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
</configuration>
